{% extends "style.html.twig" %}

{% block title %}Успешная регистрация{% endblock %}

{% block body %}
    {{ parent() }}
    <div style="text-align: center;">
        <h1>{{ 'Поздравляем с успешным получением читательского билета'|trans }}</h1>
        <h3> {{ 'Ваш читательский билет'|trans }}: {{ ticket }}</h3>
        <a href="{{ path('app_basic_index') }}">{{ 'На главную'|trans }}</a>
    </div>
{% endblock %}
