{% extends "style.html.twig" %}

{% block title %}My Books{% endblock %}

{% block body %}
{{ parent() }}
    <div class="mainDiv">
        <form action="{{ path('app_reader_view') }}">
            <h3>{{ 'Введите ваш читательский билет'|trans }}</h3>
            <input type="text" name="ticket">
            <input type="submit" value="{{ 'Посмотреть'|trans }}">
        </form>
    </div>
{% endblock %}
