{% extends "style.html.twig" %}

{% block title %}Регистрация 123 {% endblock %}

{% block body %}
    {{ parent() }}
        {{ form_start(form, {'method': 'post', 'action': path('app_reader_register')}) }}
        <div class="form-group">
            {{ form_row(form.nameInfo,{'attr' : {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.address,{'attr' : {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.passport,{'attr' : {'class':'form-control'}}) }}
        </div>
            {{ form_row(form.save,{'attr' : {'class':'btn btn-primary'}}) }}
        {{ form_end(form) }}
{% endblock %}
