{% extends "style.html.twig" %}

{% block title %}View{% endblock %}

{% block body %}
{{ parent() }}
    {% for act in acts %}
        <div class="book col-md-5">
            <img src="{{ asset('images/' ~ act.book.image) }}" alt="#">
            <p>{{ act.book.title }}</p>
            <p>{{ act.book.author }}</p>
            <p> {{ 'Статус'|trans }}:
            {% if "now"|date("Y-m-d h:m:s") <  act.getPrintableReturnDate() %}
                {{ 'Ожидается к '|trans }}{{ act.getPrintableReturnDate() }}
                {% elseif  "now"|date("Y-m-d h:m:s") > act.getPrintableReturnDate()
                            and act.getPrintableRealReturnDate is empty%}
                {{ 'Просрочено'|trans }}
                {% else %}
                {{ 'Возвращено'|trans }} {{ act.getPrintableReturnDate() }}
            </p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
