{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        *{
            word-wrap:break-word;
        }
        BODY{
            margin: 0;
            background: darkgray;
        }
        .mainDiv{
            border: 5px solid silver;
            border-radius: 2%;
            max-width: 500px;
            background: white;
            text-align: center;
            padding: 20px 10px 10px;
            margin: 20px auto 30px;
        }
        .genre{
            border: 2px solid black;
            border-radius: 2%;
            width:200px;
            height: 100%;
            background: white;
            display: inline-block;
            padding: 20px 10px 10px;
            margin: 20px 15px 30px 0;
        }
        header{
            position:sticky;
            display:flex;
            align-items: center;
            padding:8px;
        }
        .language{
            margin-left: 60%;
        }
        .book{
            border: 2px solid black;
            border-radius: 2%;
            background: white;
            width: 295px;
            text-align: center;
            display: inline-block;
            padding: 20px 10px 10px;
            margin: 20px 5px 2px;
        }
        .book img{
            height: 300px;
            width: 200px;
        }
        .content{
            display: flex;
            flex-flow: row nowrap;
            /*align-content: center;*/
            height: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
            <h3 style="display: inline-block; text-decoration: none;">
                <a href="{{ path('app_basic_index') }}" style="color:black">{{ 'Литература'|trans }}</a>
            </h3> |
            <a href="{{ path('app_reader_mybooks') }}">{{ 'Мои книги'|trans }}</a>
            <span class="language">
                <a href="{{ path('app_basic_language', {'_locale': 'en'}) }}">en</a>
                <a href="{{ path('app_basic_language', {'_locale': 'ru'}) }}">ru</a>
                <a href="{{ path('app_reader_register') }}" class="btn btn-primary"> {{ 'Регистрация'|trans }}</a>
            </span>
    </header>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
{% endblock %}
