{% extends "style.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="info" style="text-align: center;">
        <img src="{{ asset('images/' ~ book.image) }}" alt="#">
        <p>{{ 'Название'|trans }}: {{ book.title }}</p>
        <p>{{ 'Автор'|trans }}: {{ book.author }}</p>
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('app_basic_booking', {'id': book.id})}) }}
    <div class="form-group">

        {{ form_row(form.ticket,{'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.returnDate,{'attr' : {'class':'form-control'}}) }}
    </div>
        {{ form_row(form.save,{'attr' : {'class':'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
