{% extends "style.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="content">
        <div class="genre">
            <h4>{{ 'Категории'|trans }}</h4>
            <p><a href="{{ path('app_basic_index') }}">Все</a></p>
            {% for category in categories %}
                <p><a href="{{ path('app_basic_category', {'id': category.id }) }}">{{ category.category }}</a></p>
            {% endfor %}

        </div>
        <div class="books">
            {% for book in books %}
                <div class="book">
                    <img src="{{ asset('images/' ~ book.image) }}" alt="#">
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    {#{% if  %}#}
                        {##}
                    {#{% endif %}#}
                    <a href="{{ path('app_basic_booking', {'id':book.id}) }}">{{ 'Получить'|trans }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
